{% extends "base.html" %}

{% block title %}petStore{% endblock title %}


{% block main %}
<link rel="stylesheet" href="/static/css/fundaciones.css">



    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" >
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% comment %}  {% endcomment %}








    <h1> ¿Quienes somos? </h1>
    <br>
        <P>Nosotros somos NewMonster, un grupo de programadores certificados en CodingDojo.</p>
        <p>NewMonster esta compuesto por Matias Marin, Constanza Nanjari y Vicente Alcantara </p>
        <p>Nosotros fuimos contratados para ayudar a petStore, una tienda especializada en articulos para mascota, su aumento explosivo de ventas y mala organizacion del grupo estaba provocando en colapso de la tienda, y por eso fuimos contratados, para ayudar a la tienda organizando su negocio y evitando el colapso y sierre de su tienda   </p>
        <img src="/static/img/MemoMonster.jpg" width="200px" height="200px" alt=LogoNew/>
        <br>
        <br>
        <br>
        <div class="footer-social-icons">
            <h4 class="_14">Redes Sociales</h4>
            <ul class="social-icons">
                <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
                <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
                <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
                <li><a href="" class="social-icon"> <i class="fa fa-github"></i></a></li>
            </ul>
        </div>
{% endblock main %}
