




<!doctype html>
<html lang="en">


    {% extends "base.html" %}

    {% block title %}☭{% endblock title %}
    
    
    {% block main %}
    
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->




    <section id="home" class="section bg-voilet bg-overlay overflow-hidden d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center">
                <!-- home Intro Start -->
                <div class="fondonew">
                    <br>
                        <h1 class="h1new" class="text-white text-center"> <img src="/static/img/mascota-foto.png" alt="" width="100px"> PetStore</h1>
                    
                </div>
                <div class="col-12 col-md-5 col-lg-6">
                    <!-- home Thumb -->
                    <div class="home-thumb mx-auto" >
                
                    </div>
                </div>
            </div>
        </div>
        <!-- Shape Bottom -->
        <div class="shape-bottom">
            <svg viewBox="0 0 1920 310" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg replaced-svg">
                <desc>Created with shape</desc>
                <defs></defs>
                <g id="Landing-Page" stroke="none" stroke-width="12" fill="none" fill-rule="evenodd">
                    <g id="sApp-v1.0" transform="translate(0.000000, -554.000000)" fill="#ffffff">
                        <path d="M-3,551 C186.257589,757.321118 319.044414,856.322454 395.360475,848.004007 C509.834566,835.526337 561.525143,796.329212 637.731734,765.961549 C713.938325,735.593886 816.980646,681.910577 1035.72208,733.065469 C1254.46351,784.220361 1511.54925,678.92359 1539.40808,662.398665 C1567.2669,645.87374 1660.9143,591.478574 1773.19378,597.641868 C1848.04677,601.75073 1901.75645,588.357675 1934.32284,557.462704 L1934.32284,863.183395 L-3,863.183395" id="v1.0"></path>
                    </g>
                </g>
            </svg>
        </div>
    </section>



<section id="stats" class="py-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-5 col-sm-3 text-center">
                    <div class="card rounded">
                        <div class="card-image">
                            

                            <img src="/static/img/ropa-gato.jpg" width="100%" height="100%" alt="Alternate Text" />
                        </div>
                        <div class="card-image-overlay m-auto">
                            <span class="card-detail-badge"><img src="/static/img/gato.svg" alt="gatito" height="30px"></span>
                            <span class="card-detail-badge">  $10.000  </span>
                            <span class="card-detail-badge1"> <del>$15.000 </del></span>
                        </div>
                        <div class="card-body text-center">
                            <div class="ad-title m-auto">
                                <h5>Disfraz para gato </h5>
                            </div>
                            <a class="ad-btn" href="#">Ver</a>
                        </div>
                    </div>
                </div>


                <div class="col-5 col-sm-3 text-center">
                    <div class="card rounded">
                        <div class="card-image">
                            <img src="/static/img/plato-perro.jpg" width="100%" height="100%" alt="Alternate Text" />
                        </div>
                        <div class="card-image-overlay m-auto">
                            <span class="card-detail-badge"><img src="/static/img/perro.svg" alt="gatito" height="30px"></span>
                            <span class="card-detail-badge">  $10.000  </span>
                            <span class="card-detail-badge1"> <del>$15.000 </del></span>
                        </div>
                        <div class="card-body text-center">
                            <div class="ad-title m-auto">
                                <h5>pocillo para alimento</h5>
                            </div>
                            <a class="ad-btn" href="#">Ver</a>
                        </div>
                    </div>
                </div>


                <div class="col-5 col-sm-3 text-center">
                    <div class="card rounded">
                        <div class="card-image">                           
        
                            <img src="/static/img/bandana-gato.jpg" width="100%" height="100%" alt="Alternate Text" />
                        </div>
                        <div class="card-image-overlay m-auto">
                            <span class="card-detail-badge"><img src="/static/img/gato.svg" alt="gatito" height="30px"></span>
                            <span class="card-detail-badge">  $15.000  </span>
                            <span class="card-detail-badge1"> <del>$25.000 </del></span>
                        </div>
                        <div class="card-body text-center">
                            <div class="ad-title m-auto">
                                <h5>Bandana para gatos</h5>
                            </div>
                            <a class="ad-btn" href="#">Ver</a>
                        </div>
                    </div>
                </div>



                
                <div class="col-5 col-sm-3 text-center">
                    <div class="card rounded">
                        <div class="card-image">
        
                            <img src="/static/img/cama-perros2.jpg" width="100%" height="100%" alt="Alternate Text" />
                        </div>
                        <div class="card-image-overlay m-auto">
                            <span class="card-detail-badge"><img src="/static/img/perro.svg" alt="gatito" height="30px"></span>
                            <span class="card-detail-badge">  $20.000  </span>
                        </div>
                        <div class="card-body text-center">
                            <div class="ad-title m-auto">
                                <h5>Cama para perros</h5>
                            </div>
                            <a class="ad-btn" href="#">Ver</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
<section id="features" class="py-5 ">
<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-12 col-md-10 col-lg-7 section-heading text-center">
            <h5 class="text-voilet mb-4"></h5>
            <h2>¿Como se nos puede contactar?</h2>
            <p>La empresa tiene distintas formas para que usted pueda comunicarce con nosotros. Puede ser por llamada, al llamar a nuestra empresa, uno de nuestros asistentes tecnicos te ayudaran en todo lo que puedan, como por ejemplo problemas con entregas o productos defectuosos.
            Otra forma es que fuera a nuestros establecimientos, en el caso de que usted valla, tenemos a nuestro personal completamente dispuesto en ayudarle en todo lo que se le ofresca </p>
        </div>
        
    </div>
    
    <div class="row justify-content-center text-center">
        <div class="col-12 col-md-6 col-lg-4">
            <img src="/static/img/matias-marin.png" width="80px"
            <br>
            <h3 class="mb-2">Delivery</h3>
            <p>Al pedir unos de nuestros productos, pueden ir a su domicilio a entregarselo por un minimo costo.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <img src="/static/img/llamanos.png" width="80px"
            <br>
            <h3 class="mb-2">LLamanos</h3>
            <p>Ponte en contacto con nosotros, llamanos a cualquier hora en caso de algun problema y uno de nuestros asistentes tomara tu problema.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <img src="/static/img/establecimiento.png" width="80px"
            <br>
            <h3 class="mb-2">Donde esta nuestro establicimiento?</h3>
            <p>Si tienen algun problema y no podemos resolverla por telefono, venga a nuestra sucursal que etsa ubicada en la comuna de san Ramon en santiago de Chile </p>
        </div>
    </div>
</div>
</section>
<section id="services" class=" ">
<div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-12 col-lg-6 ">
            <h2 class="mb-4">¿Que se hace en caso de problemas con los productos o su entrega ?</h2>
            <ul class="list-unstyled">
                <li><p>1-Pueden llamar a nuestra empreza para pedir un nuevo producto o un rembolso.</p></li>
                <li><p>2-Pueden ir a vernos a nuestro establecimiento, pidiendo ayuda para resolver el problema que tenga su producto.</p></li>
                <li><p>3-Si su producto no llega en la fecha indicada, llame al numero de contacto para gestionar su problema y resolverla en la brevedad.</p></li>
                <li><p>4-Si aparece que su producto a sido entregado, se le cobro y usted aun no lo tiene en su posecion, llamenos, estamos en contacto con todas las repartidores, teniendo en nuestro poder tambien todos los datos del repartidor, y si no responde o no aparece se le informara a las autoridades.</p></li>
            </ul>
        </div>
        <div class="col-12 col-lg-4 order-1 order-lg-2 d-none d-lg-block">
                    <div class="home-thumb mx-auto">
                        <img src="/static/img/pregumta.png" alt="pregunta" width="260px">
                    </div>
        </div>
    </div>
</div>
</section>
<section id="info" class=" py-5 ">
<div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-12 col-lg-4 ">
                    <div class="mx-auto">
                        <img src="/static/img/mano-marin.png" alt="like" width="260px">
                    </div>
        </div>
        <div class="col-12 col-lg-6 ">
            <h2 class="mb-4"></h2>
            <p>Nuestra idea es que usted no tenga inconvenientes en nuestra tienda, que su compra de nuestros productos sea la mas comoda posible. Por eso nos procupa sus probelmas y simpre que usted tenga alguno, nuestro trabajo es que no suceda mas.</p>
        </div>
        
    </div>
</div>
</section>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        {% endblock main %}
</body>

</html>






